:root {
  --bg: #1D1A31;
  --fg: #BFB1C1;
  --danger: crimson;
  --container: 900px;
  --gap-1: 4px;
  --gap-2: 8px;
  --gap-3: 12px;
  --border-subtle: #B5BEC6;

  --color1: #364652;
  --color3: #BFB1C1;
  --color4: #B5BEC6;
  --color5: #C7DBE6;

}